<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <title>{% block title %}Feedlyr &ndash; RSS Reader {% endblock %}</title>
  <link rel="stylesheet" href="{{STATIC_URL}}css/base.css" />
</head>

<body>

  <div id="container">
    {% block container %}

    {% block navbar %}
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Feedlyr</a>
        </div>
        <form action="{% url 'search' %}" method="POST" enctype="multipart/data" class="navbar-form navbar-left" role="search">
          {% csrf_token %}
          <div class="form-group">
            <input name="q" type="text" value="{{ results.query }}" placeholder="" class="form-control" />
          </div>
          <button type="submit" class="btn btn-default">Pesquisar</button>
        </form>
        <div>
          <ul class="nav navbar-nav navbar-right">
            {% if not code %}
              <li><a href="{% url 'feedly_new' %}">autenticar-se</a></li>
            {% else %}
              <li><a href="{% url 'import' %}">importar opml</a></li>
              <li><a href="{% url 'feedly_logout' %}">sair</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% endblock navbar %}

    {% comment "TODO: Filtros por fontes e expressões de busca" %}
    <div id="advanced-search">
      <div id="sources">
          {% for source in source.objects.all %}
        <div id="{{ source.id }}" class="field-wrapper">
          <input type="checkbox" name="source" id="source{{ forloop.counter }}" value="{{ source.id }}" checked>
          <label for="source{{ forloop.counter }}">{{ source.name }}</label>
        </div>
        {% endfor %}
      </div>
      <div id="expr">
        {% for expr in expr.objects.all %}
        <div id="{{ expr.id }}" class="field-wrapper">
          <input type="checkbox" name="expr" id="expr{{ forloop.counter }}" value="{{ expr.id }}" checked>
          <label for="expr{{ forloop.counter }}">{{ expr.title }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endcomment %}

    {% block content %}
      <div id="content" class="col-md-8">
        {% if error %}
          <h1>Desculpe, houve um erro na solicitação.</h1>
          <p>Segue a mensagem de erro:</p>
          <blockquote>{{ error }}</blockquote>
        {% elif results != None %}
          <h1>Pesquisa por '{{ query }}'</h1>
          <p><em>Total de {{ results.items|length }} resultado{{ results.items|pluralize }} ({% if results.searchTime %}0.{% endif %}{{ results.searchTime|default:0 }} segundos)</em></p>
          {% for i in results.items %}
            <div class="result-item">
              <h3>
                <span class="glyphicon glyphicon-chevron-right"/></span>
                <a href="{{ i.originId }}" title="Acessar conteúdo original">{{ i.title }}</a>
              </h3>
              <h6>Fonte: <a href="{{ i.origin.htmlUrl }}">{{ i.origin.title }}</a></h6>
              <blockquote>{{ i.summary.content|safe }}</blockquote>
            </div>
          {% endfor %}
        {% else %}
          <h1><em>Sem resultados</em></h1>
          <em class="no-query">Nenhuma solicitação foi realizada à API do Feedly.</em>
        {% endif %}
      </div>
    {% endblock content %}
    {% block sidebar %}
    <div id="sidebar" class="col-md-4">
      {% include "feedlyr/filters.html" with results=results.items %}
      {% include "feedlyr/export.html" with results=results.items %}
    </div>
    {% endblock sidebar %}
    {% endblock container %}
  </div>

  {% block footer %}
  <div id="footer">
    <p>Este aplicativo realiza buscas em feeds RSS.</p>
    <p>Possíveis fontes são a API do Feedly.com e feeds previamente cadastrados.</p>
  </div>

  <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="{{STATIC_URL}}js/base.js"></script>
  {% endblock footer %}

</body>
</html>
