<div id="filtros" width="50%">
    <h3>Filtros</h3>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Fontes de notícias
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
              <div id="feedlyTabs">
                  <div class="tab" id="Design_tab">
                      <div id="Design_tab_header" class="header target">
                              Design
                      </div>
                      <div id="Design_tab_sources" class="list">
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=alistapart.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">A List Apart</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.baekdal.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Baekdal.com Articles</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=infosthetics.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">information aesthetics</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.nicolasnova.net&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Pasta&amp;Vinegar</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=fontfeed.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">The FontShop FontFeed</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.uxmatters.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">UXmatters</span>
                              </div>
                          </div>
                          <div id="1410213556187_more" style="display:none">
                              <div>
                                  <div></div>
                                  <div class="feedIndexTitleHolder empty emptyAware">
                                      <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=feeds.feedburner.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">UX Magazine Articles</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab" id="Geral_tab">
                      <div id="Geral_tab_header" class="header target">
                              Geral
                      </div>
                      <div id="Geral_tab_sources" class="list">
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=br-linux.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">BR-Linux.org</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=stackoverflow.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Feed of questions tagged plone</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.infonet.com.br&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">InfoNet</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=planet.plone.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Planet Plone</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=plone.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Plone CMS: Open Source Content Management</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=dev.plone.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Plone Collective</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=groups.google.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">python-brasil Google Group</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab" id="PZP_tab">
                      <div id="PZP_tab_header" class="header target">
                              PZP
                      </div>
                      <div id="PZP_tab_sources" class="list">
                          <div>
                              <div></div>
                              <div class="feedIndexTitleHolder empty emptyAware">
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.drupal.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">drupal.org - Community plumbing</span>
                              </div>
                          </div>
                          <div style="clear:both"></div>
                      </div>
                  </div>
                  <div class="tab" id="Tecnologia_tab">
                      <div id="Tecnologia_tab_header" class="header target">
                              Tecnologia
                      </div>
                      <div id="Tecnologia_tab_sources" class="list">
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=boingboing.net&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Boing Boing</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.clubedohardware.com.br&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Clube do Hardware - &Atilde;&scaron;ltimos Artigos, Testes e Tutoriais</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.coolhunting.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Cool Hunting</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.emarketer.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">eMarketer Articles</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=meiobit.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Meio Bit - Not&Atilde;&shy;cias, Internet, Inform&Atilde;&iexcl;tica, Tecnologia</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.reuters.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Reuters: Technology News</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.techdirt.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Techdirt</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.wired.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Wired Top Stories</span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="tab" id="Usability_tab">
                      <div id="Usability_tab_header" class="header target">
                              Usability
                      </div>
                      <div id="Usability_tab_sources" class="list">
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=accessify.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Accessify</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.jnd.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Don Norman</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.flickr.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Flickr photos tagged usability</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.informationdesign.org&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">InfoDesign</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=bokardo.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Joshua Porter's Bokardo</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.uie.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">UIE Brain Sparks</span>
                              </div>
                          </div>
                          <div>
                              <div>
                                  <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.userfocus.co.uk&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Userfocus Usability Newsletter</span>
                              </div>
                          </div>
                          <div id="1410213556206_more" style="display:none">
                              <div>
                                  <div></div>
                                  <div class="feedIndexTitleHolder empty emptyAware">
                                      <input type="checkbox" checked> <img class="favicon" src="https://www.google.com/s2/favicons?domain=www.humanfactors.com&amp;alt=feed" width="16" height="16" align="top"> <span class="feedTitle">Human Factors International, Inc.</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#filters-expr">
                    Expressões de busca
                </a>
            </h4>
        </div>
        <div id="filters-expr" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <input type="checkbox">Expressão de busca 01<br>
                                <input type="checkbox">Expressão de busca 02<br>
                                <input type="checkbox">Expressão de busca 03<br>
                                <input type="checkbox">Expressão de busca 04<br>
                                <input type="checkbox">Expressão de busca 05<br>
                            </span>
                        </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#filters-daterange">
                      Data de publicação
                  </a>
              </h4>
          </div>
          <div id="filters-daterange" class="panel-collapse collapse">
              <div class="panel-body">
                  <div class="input-daterange input-group" id="datepicker">
                      <input type="text" value="2014-09-09" placeholder="- Infinito" class="input-sm form-control" name="start">
                      <span class="add-on input-group-addon">até</span>
                      <input type="text" value="2014-10-01" placeholder="+ Infinito" class="input-sm form-control" name="end">
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>