<div class="opendata">
  <h3>Dados abertos</h3>
  <label>Formatos destinados a consumo humano</label>
  <div class="downloads">
      <span class="link-table"><a href="download.table">HTML</a></span>
      <span class="link-csv"><a href="download.csv">CSV</a></span>
      <span class="link-tsv"><a href="download.tsv">TSV</a></span>
  </div>
  <br>
  <label>Formatos destinados a comunicação máquina a máquina</label>
  <div class="opendata-downloads">
      <span class="link-json"><a href="http://www.eea.europa.eu/data-and-maps/daviz/trend-in-snow-cover-extent/download.json">JSON</a></span>
      <span class="link-xml"><a href="http://www.eea.europa.eu/data-and-maps/daviz/trend-in-snow-cover-extent/download.xml">XML</a></span>
  </div>
</div>