{% extends "feedlyr/base.html" %}
{% load bootstrap %}

<div id="content">
    {% block content %}
    <form action="{% url 'opml' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|bootstrap }}
        <input type="submit" value="Enviar" />
    </form>
    {% endblock %}
</div>
