#content {
    padding: 4em 1em 0.5em;
}

#content h1,
#content h6 {
    font-style: italic;
}

#content .no-query {
    text-align: center;
}

#content .result-item div {
    font-size: 0.9em;
}

.opendata div span {
    padding: 2px 0 2px 20px;
}

.opendata .link-json {
    background: url(/static/img/ico-json.png) 0 50% no-repeat;
}

.opendata .link-table {
    background: url(/static/img/ico-html.png) 0 50% no-repeat;
}

.opendata .link-csv, .link-tsv {
    background: url(/static/img/ico-csv.png) 0 50% no-repeat;
}

.opendata .link-xml {
    background: url(/static/img/ico-xml.gif) 0 1px no-repeat;
    padding: 1px 0 1px 18px;
}

#footer {
    border-top: 1px solid #ccc;
    margin: 2em 12em 1em;
    padding-top: 1em;
    text-align: center;
}
