/* GENERAL */

#container {
    padding-top: 5em;
}

#content {
    padding: 0 1em 0.5em;
}

#content h1 {
    margin-top: 0;
}

#content h6 {
    font-style: italic;
}

#content .no-query {
    text-align: center;
}

#content .result-item {
    margin-bottom: 2em;
}

#content .result-item blockquote,
#content .result-item blockquote p {
    font-size: 0.9em;
}

#content .result-item div h1,
#content .result-item div h2,
#content .result-item div h3,
#content .result-item div h4,
#content .result-item div h5,
#content .result-item div h6 {
    font-size: 1.5em;
    margin-top: 0;
}

#content .result-item div img {
    float: left;
    margin-right: 0.5em;
}

/* SIDEBAR */

#export div span {
    padding: 2px 0 2px 20px;
}

#export .export-json {
    background: url(/static/img/ico-json.png) 0 50% no-repeat;
}

#export .export-html {
    background: url(/static/img/ico-html.png) 0 50% no-repeat;
}

#export .export-csv,
#export .export-tsv {
    background: url(/static/img/ico-csv.png) 0 50% no-repeat;
}

#export .export-xml {
    background: url(/static/img/ico-xml.gif) 0 1px no-repeat;
    padding: 1px 0 1px 18px;
}

/* FOOTER */

#footer {
    border-top: 1px solid #ccc;
    clear: both;
    margin: 7em 12em 1em;
    padding-top: 1em;
    text-align: center;
}
